.show-when-mobile{
    display: block;
  }
  .hide-when-mobile{
    display: none;
}
/*Font awsome homburger menu*/
.absolute{
  position: absolute;
  top: 20px;
  right: 30px;
}

input{
  display: none;
}

.fa-bars{
  font-size: 30px;
  transform: scale(1.4);
}

/*Show on click*/
.show-on-click{
  display: none;
}


#burger:checked + .show-on-click{
  display: block;
  background-color: #7699D4;
  height: 100vh;
  width: 170px;
  position: fixed;
  right: 0;
  top: 10;
}
.main-div{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
  margin: 10px;
  align-items: center; 
}
